<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blocked</title>
</head>
<body>
  <h1>Ресурс заблокирован </h1>
  <p>Для выяснения причин обратитесь к администраторам.</p>
  <h3>Возможные причины:</h3>
  <ul>
    <li>Несвоевременная оплата</li>
    <li>Вредоносный контент</li>
    <li>...</li>
  </ul>
</body>
</html>
